* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffa500;
  --color-dark: #232323;
  --color-light: #eaeaea;
  --color-white: #fff;
  --color-github-link: #f64348;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--color-primary)
}

h2 {
  font-size: 2.5rem;
}

header {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 1.5rem 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline;
  margin: 0 1.5rem;
}

nav a {
  text-decoration: none;
  font-weight: 700;
}

.hero {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, .1) 0%,
    rgba(0, 0, 0, 1) 100%
  ),
    url("img/pexels-narda-yescas-1566837.webp");
  background-size: cover;
  color: var(--color-white);
  min-height: 75vh;
  padding: 10rem 1.75rem;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 100;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

.cta-button {
  background-color: var(--color-primary);
  border-radius: .5rem;
  color: var(--color-dark);
  font-weight: 700;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.25rem;
  padding: .75rem 5rem;
  text-decoration: none;
}

section:not(#home) {
  padding: 2rem;
  text-align: center;
  margin: auto auto;
}

.menu-list {
  list-style: none;
  padding: 1rem 0;
}

.menu-list > li {
  background-color: #EAEAEA;
  display: inline-block;
  min-width: 13.5rem;
  max-width: 21.5rem;
  min-height: 13.5rem;
  max-height: 21.5rem;
  margin: 1rem;
  border-radius: .5rem;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5)
}

li > h3 {
  font-size: 1.25rem;
  text-align: left;
  padding: 0 1rem .5rem;
}

li > p {
  text-align: left;
  padding: 0 1rem 1rem;  
}

li > img {
  width: 100%;
  background-size: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

#about {
  min-height: 14rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(img/pexels-eneida-nieves-905847.webp);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
}

#about > h2 {
  padding-top: 1rem
}

#about > p {
  padding: 1rem;
}

#contact > p {
  padding: 2rem;
}

address {
  font-size: .9rem;
  font-style: italic;
  margin: 2rem
}

address > * {
  display: inline-block;
  text-align: center;
}

address > div > p {
  display: block;
  text-align: left;
  margin-left: 1rem;
}

footer {
  font-size: .85rem;
  height: 6rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
}

footer > p {
  padding: 1rem;
  line-height: 2rem;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
}

#github {
  color: var(--color-github-link);
  border-radius: .5rem;
  padding: 0.1rem;
  font-weight: 500;
}

@media(max-width: 977px) {
  * {
    font-size: 14px;
  }

  address {
    width: 80%;
    margin: 0 auto
  }

  address > * {
    display: block;
    text-align: left;
    padding: .5rem 0
  }

  address > div > p {
    margin: 0;
  }
}

@media(max-width: 501px) {
  .hero h1 {
    font-size: 3rem;
    font-weight: 300;
  }
  
  .hero p {
    font-size: 1.25rem;
  }
}

@media(max-width: 425px) {
  .hero p {
    font-size: 1.15rem;
  }

  nav > ul > li {
    margin: 0 .7rem;
  }
}

@media(max-width: 375px) {

  nav > ul > li {
    margin: 0 .7rem;
  }
}

@media(max-width: 396px) {
  .hero {
    padding: 10rem 2.5rem
  }
  * {
    font-size: 12px;
  }
  nav > ul > li {
    margin: 0 .7rem;
  }
}