* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ffa500;
  --color-dark: #232323;
  --color-light: #eaeaea;
  --color-white: #fff;
  --color-github-link: #f64348;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}

a {
  color: var(--color-primary)
}

h2 {
  font-size: 2rem;
}

header {
  background-color: var(--color-dark);
  padding: 1.5rem;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav li {
  display: block;
}

nav li + li {
  margin-top: 1rem;
}

nav a {
  font-weight: 700;
  text-decoration: none;
}

#home {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, .1) 0%,
    rgba(0, 0, 0, 1) 100%),
    url("img/pexels-narda-yescas-1566837.webp"
    );
  background-size: cover;
  position: relative;
  min-height: 75vh;
}

.hero {
  width: 90%;
  height: 50%;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 300;
}

.hero p {
  margin-top: 1.5rem;
  text-align: center;
}

.cta-button {
  background-color: var(--color-primary);
  border-radius: .5rem;
  color: var(--color-dark);
  display: inline-block;
  font-weight: 700;
  margin-top: 2rem;
  padding: .5rem 2.5rem;
  text-decoration: none;
}

#menu {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem;
}

#menu h2 {
  margin-bottom: 1.5rem;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  place-content: center;
  list-style: none;
}

.menu-list li {
  background-color: #EAEAEA;
  box-shadow: 2px 2px 8px -2px rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  min-width: 12rem;
  max-width: 18rem;
  height: auto;
  aspect-ratio: 1 / 1;
}

.menu-list h3 {
  font-size: 1rem;
  padding: .75rem;
  text-align: left;
}

.menu-list p {
  font-size: .85rem;
  padding: .75rem;
  text-align: left;
}

.menu-list img {
  background-size: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  width: 100%;
}

#about {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0.1) 0%,
  rgba(0, 0, 0, 0.9) 100%),
  url(img/pexels-eneida-nieves-905847.webp);
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  min-height: 14rem;
  padding: 1.5rem;
  text-align: center;
}

#about > h2, #about > p {
  padding: .5rem 1.5rem 0
}

#contact {
  padding: 1.5rem;
  text-align: center;
}

#contact > p {
  margin: 1.5rem 0
}

address {
  font-style: italic;
  margin-top: 1.5rem;
  font-size: .9rem;
}

address > * {
  display: block;
  text-align: left;
}

address > div > p {
  display: block;
  text-align: left;
}

footer {
  height: 6rem;
  background-color: var(--color-dark);
  color: var(--color-primary);
}

footer > p {
  font-size: .85rem;
  padding: 1rem;
  line-height: 2rem;
  text-align: center;
}

footer > p > a {
  text-decoration: none;
}

#github {
  color: var(--color-github-link);
  border-radius: .5rem;
  font-weight: 500;
}

@media screen and (min-width: 425px) {
  nav ul {
    text-align: center;
  }

  nav li {
    display: inline;
    margin-top: .5rem;
  }

  nav li + li {
    margin-left: 1rem
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  #about > h2, #about > p {
    padding: 1rem 1.5rem 0
  }
}

@media screen and (min-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  #about > h2, #about > p {
    padding: 1.5rem 1.5rem 0
  }

  address {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1024px) {
  nav li + li {
    margin-left: 2.5rem
  }
  
  .hero h1 {
    font-size: 3rem;
  }

  .menu-list h3, .menu-list p {
    font-size: revert;
  }
  
  .menu-list li {
    max-width: 20rem;
  }

  address {
    padding: 0;
  }

  address > * {
    display: inline-block;
  }

  address > div {
    margin-left: 1.5rem;
  }
}
